
RewriteEngine on

#RewriteEngine on
#RewriteCond %{HTTP_HOST} ^bavap\.es$ [OR]
#RewriteCond %{HTTP_HOST} ^www\.bavap\.es$
#RewriteRule ^/?$ "http\:\/\/bavapes\.co\.uk" [R=301,L]

RewriteCond %{HTTP_HOST} ^bavap\.es$ [OR]
RewriteCond %{HTTP_HOST} ^www\.bavap\.es$
RewriteRule ^(.*)$ "http\:\/\/bavapes\.co\.uk\/$1" [R=301,L]

